name: ci

on:
  push:
    branches:
      - '*'
  pull_request:

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2

      - name: Cargo fmt
        run: cargo fmt --all -- --check

      - name: Cargo clippy
        run: cargo clippy -- -D warnings

      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-llvm-cov

      # - name: Coverage (>=90%)
      #   run: cargo llvm-cov --fail-under-lines 90
